body{
    margin:0;
    padding: 0;
    background: #FAFAFA;
}
.search-box {
    padding-right: 2.5rem; 
  }
  .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .content{
    display: grid;
    grid-template-columns: repeat(3,auto);
  }

  .representatives{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media (max-width: 756px) {
    .content{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
  }